spring:
  profiles:
    active: dev
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/diet_coach_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul
    username: root
    password: 
  sql:
    init:
      mode: always
      
mybatis:
  mapper-locations: classpath:mapper/**/*.xml
  configuration:
    map-underscore-to-camel-case: true

jwt:
  secret: secret-key-for-json-web-token-for-diet-coach-project
  access-token-validity-in-seconds: 86400 
  refresh-token-validity-in-seconds: 604800
  
    
# Naver Shopping API
naver:
  shopping:
    client-id: ${NAVER_SHOPPING_CLIENT_ID}
    client-secret: ${NAVER_SHOPPING_CLIENT_SECRET}
